In [4]:
import pandas as pd

In [5]:
df=pd.read_csv(r'C:\Users\Shriya\OneDrive\Documents\LAUNCHED\Machine Learning Capstone Project\1_data_preparation\expected_ctc.csv')

In [6]:
columns_to_drop=['IDX','PHD_Specialization','University_PHD','Passing_Year_Of_PHD']
df_cleaned=df.drop(columns=columns_to_drop)

In [7]:
categorical_cols=df_cleaned.select_dtypes(include='object').columns
for col in categorical_cols:
    df_cleaned[col]=df_cleaned[col].fillna(df_cleaned[col].mode()[0])

In [8]:
numerical_cols=df_cleaned.select_dtypes(include=['int64','float64']).columns
for col in numerical_cols:
    df_cleaned[col]=df_cleaned[col].fillna(df_cleaned[col].median())

In [9]:
print("Missing values after cleaning:")
print(df_cleaned.isnull().sum())

Missing values after cleaning:
Applicant_ID                         0
Total_Experience                     0
Total_Experience_in_field_applied    0
Department                           0
Role                                 0
Industry                             0
Organization                         0
Designation                          0
Education                            0
Graduation_Specialization            0
University_Grad                      0
Passing_Year_Of_Graduation           0
PG_Specialization                    0
University_PG                        0
Passing_Year_Of_PG                   0
Curent_Location                      0
Preferred_location                   0
Current_CTC                          0
Inhand_Offer                         0
Last_Appraisal_Rating                0
No_Of_Companies_worked               0
Number_of_Publications               0
Certifications                       0
International_degree_any             0
Expected_CTC                         0
dtype: int64

In [10]:
df_cleaned.to_csv("cleaned_expected_ctc.csv",index=False)
print("cleaned dataset saved as 'cleaned_expected_ctc.csv'")

cleaned dataset saved as 'cleaned_expected_ctc.csv'

In [11]:
print("rows:",df.shape[0])
print("columns:",df.shape[1])

rows: 25000
columns: 29

In [12]:
print(df.describe())

                IDX  Applicant_ID  Total_Experience  \
count  25000.000000  25000.000000      25000.000000
mean   12500.500000  34993.240080         12.493080
std     7217.022701  14390.271591          7.471398
min        1.000000  10000.000000          0.000000
25%     6250.750000  22563.750000          6.000000
50%    12500.500000  34974.500000         12.000000
75%    18750.250000  47419.000000         19.000000
max    25000.000000  60000.000000         25.000000

       Total_Experience_in_field_applied  Passing_Year_Of_Graduation  \
count                       25000.000000                18820.000000
mean                            6.258200                 2002.193624
std                             5.819513                    8.316640
min                             0.000000                 1986.000000
25%                             1.000000                 1996.000000
50%                             5.000000                 2002.000000
75%                            10.000000                 2009.000000
max                            25.000000                 2020.000000

       Passing_Year_Of_PG  Passing_Year_Of_PHD   Current_CTC  \
count        17308.000000         13119.000000  2.500000e+04
mean          2005.153571          2007.396372  1.760945e+06
std              9.022963             7.493601  9.202125e+05
min           1988.000000          1995.000000  0.000000e+00
25%           1997.000000          2001.000000  1.027312e+06
50%           2006.000000          2007.000000  1.802568e+06
75%           2012.000000          2014.000000  2.443883e+06
max           2023.000000          2020.000000  3.999693e+06

       No_Of_Companies_worked  Number_of_Publications  Certifications  \
count            25000.000000            25000.000000    25000.000000
mean                 3.482040                4.089040        0.773680
std                  1.690335                2.606612        1.199449
min                  0.000000                0.000000        0.000000
25%                  2.000000                2.000000        0.000000
50%                  3.000000                4.000000        0.000000
75%                  5.000000                6.000000        1.000000
max                  6.000000                8.000000        5.000000

       International_degree_any  Expected_CTC
count              25000.000000  2.500000e+04
mean                   0.081720  2.250155e+06
std                    0.273943  1.160480e+06
min                    0.000000  2.037440e+05
25%                    0.000000  1.306278e+06
50%                    0.000000  2.252136e+06
75%                    0.000000  3.051354e+06
max                    1.000000  5.599570e+06

In [13]:
print(df.head())

   IDX  Applicant_ID  Total_Experience  Total_Experience_in_field_applied  \
0    1         22753                 0                                  0
1    2         51087                23                                 14
2    3         38413                21                                 12
3    4         11501                15                                  8
4    5         58941                10                                  5

       Department               Role   Industry Organization      Designation  \
0             NaN                NaN        NaN          NaN              NaN
1              HR         Consultant  Analytics            H               HR
2  Top Management         Consultant   Training            J              NaN
3         Banking  Financial Analyst   Aviation            F               HR
4           Sales    Project Manager  Insurance            E  Medical Officer

   Education  ... Curent_Location Preferred_location  Current_CTC  \
0         PG  ...        Guwahati               Pune            0
1  Doctorate  ...       Bangalore             Nagpur      2702664
2  Doctorate  ...       Ahmedabad             Jaipur      2236661
3  Doctorate  ...          Kanpur            Kolkata      2100510
4       Grad  ...       Ahmedabad          Ahmedabad      1931644

  Inhand_Offer Last_Appraisal_Rating  No_Of_Companies_worked  \
0            N                   NaN                       0
1            Y         Key_Performer                       2
2            Y         Key_Performer                       5
3            N                     C                       5
4            N                     C                       2

  Number_of_Publications Certifications  International_degree_any Expected_CTC
0                      0              0                         0       384551
1                      4              0                         0      3783729
2                      3              0                         0      3131325
3                      3              0                         0      2608833
4                      3              0                         0      2221390

[5 rows x 29 columns]